    body {
        margin: 0px;
    }
    
    h2 {
        font-family: fantasy;
        font-size: 0px;
    }
    /* BARRA DE NAVEGACIÓN */
    
    .navbar a {
        font-size: 18px;
    }
    
    .navbar li {
        padding: 0px 0px 0px 10px;
        height: 50px;
        margin: auto;
        display: block;
    }
    
    .gris {
        background-color: rgba(0, 0, 0, 0.322);
    }
    
    .top-nav-collapse {
        background-color: rgba(0, 0, 0, 0.849) !important;
    }
    /* FIN BARRA NAVEGACIÓN */
    
    .row {
        margin-top: 20px;
        padding: 100px 30px 100px 30px;
        width: 100%;
        margin: auto;
    }
    
    .servicios .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .servicios h3 {
        margin-top: 15px;
        color: gray;
    }
    
    #Servicios p {
        color: grey;
    }
    
    #Servicios img {
        width: 150px;
    }
    
    .m-t {
        margin-top: 80px;
    }
    /* fin estilo servicios */
    
    #profes img {
        width: 100%;
        border-radius: 5px;
    }
    
    #profes img:hover {
        border: white;
    }
    
    #nosotros h1 {
        color: white;
        font-weight: bolder;
    }
    
    #nosotros h3 {
        color: white;
    }
    
    #nosotros p {
        color: white;
    }
    
    .carouselExampleIndicators img {
        height: 100vh;
    }
    
    footer {
        font-size: 14px;
    }