
P,h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
}

nav{
    background-color: #1B1B1B;
    position: fixed;
    width: 100%;
    margin: 0px;
    padding: 0px;
    }

  

.menu li{
    display: inline-block; 
   
}
.menu a{
color: rgba(136, 133, 133, 0.904);text-decoration:none;
padding: 12px;
display: block;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 13px;
} 

.menu li:hover{
    background-color:white;
  
}
.menu img{
    margin-left: 10px;
}
.imagen{
    widows: 100px; 
    height:100vh;
    margin-top: 0px;
    background: url(imagenes/banner.JPG);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}
section{
    background-color:white;
    overflow: hidden;
    padding: 100px;
    }

.art{
    float: left; background-color: rgb(226, 226, 226); height: 250px; width:30%;margin-left:3%;border-radius: 4px;

}
.art  p {
    padding: 10px;
}

article{
    text-align: justify;
 color: rgba(136, 133, 133, 0.904) ;
}


.destacado{

    height: 600px;
    background-color:white;
  
}
.profes{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left; background-color:rgb(226, 226, 226); height: 500px; width:30%;margin-left:3%;border-radius: 4px;
    overflow: scroll;


}
.profes img{
    
  display: block;
  margin:auto;
margin-top: 20px;
}
.profes p{
margin: 20px;
padding: 20px
;
}
.profes h2{
    margin-bottom: 20px;
}


.videos{
    padding: 20px;
    height: 500px;
    background-color:white;
    
    
}
.videos h3{
    text-align: center;
    font-size:25px;
    color: rgba(136, 133, 133, 0.904) ;
    margin-bottom: 60px;
}
.vid{
    
 float: left; background-color: whitesmoke; height: 250px; width:30%;margin-left:2%;border-radius: 4px;
     
}    


footer{
    background-color:#1B1B1B;
    height:400px ;
    padding: 30px;
   
}
footer article{
    float: left; ; height: 250px; width:30%;margin-left:2%;border-radius: 4px;
     
}
footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}




form{
    margin-top: -50px;
    background-color:white;
    width: 300px; height: 400px;
    margin: 0 auto;
    padding:20px;
    border-radius: 5px;
}
.boton{
    width: 300px;
    height: 30px;
    border-radius: 3px;
}
.formulario{
    background-color:rgb(175, 166, 166) ;
    padding:100px;
}
